{% extends "page.html" %}

{% block content %}
<h2 class="text-center p-3">Evento</h2>
<br/>
<form action="submit/" method="POST" class="row"> {% csrf_token %}
    <input type="number" value="{{event.id}}" name="id_event" hidden>
    <div class="col-8 mb-3">
        <label for="title" class="form-label">Nome</label>
        <input type="text" class="form-control" id="title" value="{{event.title}}" name="title">
    </div>
    <div class="col-4 mb-3">
        <label for="event_date" class="form-label">Data</label>
        <input type="datetime-local" class="form-control" id="event_date" value="{{event.get_input_event_date}}" name="event_date">
    </div>
    <div class="col-12 mb-3">
        <label for="description" class="form-label">Descrição</label>
        <textarea class="form-control" rows="5" id="description" name="description">{{event.description}}</textarea>
    </div>
    <div class="col-12 mb-3">
        <button class="float-end m-2 btn btn-success" type="submit">Salvar</button>
        <a class="float-end m-2 btn btn-danger" href="/schedule">Cancelar</a>
    </div>
</form>
{% endblock %}